In [3]:
import pandas as pd

In [25]:
n = int(input("Enter an non-negative integer number: "))
if n<0 :
    print("Please chose a (positive) whole number")

Enter an non-negative integer number: 4

In [14]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [15]:
odd

[1, 3, 5, 7, 9, 11]

In [16]:
even

[0, 2, 4, 6, 8, 10]

In [17]:
fibo

[0, 1, 1, 2, 3, 5]

In [18]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists

True

In [19]:
display = pd.DataFrame({'Even' : even, 'Odd' : odd, 'Fibonacci' : fibo})
display

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3
5    10   11          5